<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAVyadMxE94I9pkHExNXfx4ZbEXoSgN63o</string>
	<key>GCM_SENDER_ID</key>
	<string>472829383286</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wewehao.aichat</string>
	<key>PROJECT_ID</key>
	<string>chat-ai-companion</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-ai-companion.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:472829383286:ios:9f36bc6f81f0d94a2d8557</string>
</dict>
</plist>